    
    <div class="options">
        <form name="UpdateActivity">
            <fieldset>
                <p>
                    <label>Name of Organization Where You Volunteered</label>
                    <input type="text" ng-model="Activity.OrgName" class="field" required pattern="[a-zA-Z0-9]+" />
                </p>
                <p>
                    <label>Number of Hours You Volunteered</label>
                    <input type="text" ng-model="Activity.NumberHours" class="field" required pattern="[a-zA-Z0-9]+" />
                </p>
                <p>
                    <label>Number of Miles Driven Round Trip</label>
                    <input type="text" ng-model="Activity.Mileage" class="field" required pattern="[a-zA-Z0-9]+" />
                </p>
                <p>
                    <label>DollarsContributed</label>
                    <input type="text" ng-model="Activity.DollarsContributed" class="field" required pattern="[a-zA-Z0-9]+" />
                </p>
                <p>
                    <label>Date</label>
                    <input type="date" ng-model="Activity.Date" class="field" required />
                </p>
                <button type="submit" ng-click="UpdateActivity()">SUBMIT</button>
            </fieldset>
        </form>
    </div>
