@{
    ViewData["Title"] = "Track each activity here";
}
<h2>@ViewData["Title"].</h2>



<div class="options">
    <form action="form.html" method="POST">
        <fieldset>
            <p>
                <label>Name of Organization Where You Volunteered</label>
                <input type="text" organization="nameOrg" class="field" required pattern="[a-zA-Z0-9]+" />
            </p>
            <p>
                <label>Number of Hours You Volunteered</label>
                <input type="text" numberHours="numberHours" class="field" required pattern="[a-zA-Z0-9]+" />
            </p>
            <p>
                <label>Number of Miles Driven Round Trip</label>
                <input type="text" milesDriven="milesDriven" class="field" required pattern="[a-zA-Z0-9]+" />
            </p>
            <p>
                <label>DollarsContributed</label>
                <input type="text" milesDriven="milesDriven" class="field" required pattern="[a-zA-Z0-9]+" />
            </p>
            <p>
                <label>Date</label>
                <input type="text" date="date" class="field" required pattern="[a-zA-Z0-9]+" />
            </p>
            
            <p><label>Total hours volunteered this year:</label></p>
            
            <p><label>Total mileage for the year:</label></p>

            <p><label>Total monetary contributions for the year:</label></p>

        </fieldset>
    </form>
</div>
