@{
    ViewData["Title"] = "My Activities";
}
<h2>@ViewData["Title"]</h2>


<div ng-controller="EditController" >
    <div ng-repeat="activity in activities">
        <p>Organization Name: {{activity.OrgName}}</p>
        <p>Date: {{activity.Date}}</p>
        <p>Number of Hours: {{activity.NumberHours}}</p>
        <p>Mileage: {{activity.Mileage}}</p>
        <p>Dollars Contributed: {{activity.DollarsContributed}}</p>
        <button class="editButton">Edit</button><button class="removeButton">Remove</button>
        <br />
        <br />
    </div>
</div>




