@{
    ViewBag.Title = "Home Page";
}
    <div>
        <p>
            Hands On Nashville is a great site to view if you want to get
            involved in your community, and you live in Nashville.
            Click the button to learn more about HandsOnNashville
            <a class="btn btn-default" href="https://www.hon.org/HOC__Affiliate_Home_Page">Have fun and VOLUNTEER!</a>
        </p>
    </div>
        <div>
            <p>
                The Nashville Rescue Mission is a very worthy organization that is a great place
                to volunteer or make dollar contributions to assist the homeless. Please
                click on this link to see volunteer opportunities with the Rescue Mission.
                <a class="btn btn-default" href="https://nashvillerescuemission.org/">
                    Have fun and VOLUNTEER!
                </a>
            </p>
        </div>
     <div class="row">
        <div class="col-md-9">
            <h2>VolunteerTrack</h2>
            <p>
            VolunteerTrack is a quick and easy way to keep track of your volunteer
            hours, mileage, and charitable contributions. When it comes time to do
            your taxes, you'll be glad you used it. To see
            the tracking form, click here!
            <a class="btn btn-default" href="~/Home/About">Track Form</a>
            </p>
         </div>
     </div>

    <div class="mapPlacement">
        <style>
            #map {
                width: 100%;
                margin-top: 30%;
                height: 400px;
                align-content: center;
                background-color: grey;
            }
        </style>
    </div>
    <script>
        function initMap() {
            var BoyScoutsOfAmerica = { lat: 36.138, lng: -86.810 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: BoyScoutsOfAmerica,
                marker1: NashvilleRescueMission
            });
            var marker = new google.maps.Marker({
                position: BoyScoutsOfAmerica,
                OrgName: BoyScoutsOfAmerica,
                map: map

            });
            var NashvilleRescueMission = { lat: 36.168, lng: -86.805 };
            var marker1 = new google.maps.Marker({
                position: NashvilleRescueMission,
                OrgName: NashvilleRescueMission,
                map: map
            });









        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyYRivEIIvOGn2A8QyOlrdUE9js8PGOwY&callback=initMap"> 
    </script>
    