@{
    ViewBag.Title = "Home Page";
}
<h1>This map shows just a few of the locations of volunteer opportunities in Middle Tennessee.</h1>

<div id="slideshow">
    <div>
        <p>
            "Never doubt that a small group of thoughtful, committed
            citizens can change the world; indeed, it's the only thing
            that ever has." Margaret Mead
        </p>
        <p>
            "Nashville has been ranked 34th among the nation’s 51 largest
            cities for volunteerism – demonstrating the continued commitment
            of our community’s culture of service. Hands On Nashville is
            proud to help foster this positive behavior and to make it easy
            for residents to engage in meaningful service." Hands On Nashville
            is a great resource to view if you want to get involved in your
            community.
            <a class="btn btn-default" href="https://www.hon.org/HOC__Affiliate_Home_Page">Have fun and VOLUNTEER!</a>
        </p>
    </div>
    <div>
        <p>
            "At Nashville Rescue Mission, we address homelessness and hopelessness in a way that is
            transformational and Christ-centered. We believe in order for someone’s heart to be open
            to change, we must first meet his or her most basic and immediate needs."
        </p>
        <p>
            The Nashville Rescue Mission is a great place to volunteer or make dollar
            contributions to assist the homeless. Please click on this link to see
            volunteer opportunities with the Rescue Mission.
            <a class="btn btn-default" href="https://nashvillerescuemission.org/">
                Have fun and VOLUNTEER!
            </a>
        </p>
    </div>
    <div>
        <p>
            "The mission of the Middle Tennessee Council, Boy Scouts of America is to prepare
            young people to make ethical and moral choices over their lifetime by instilling
            in them the values of the Scout Oath and Law.
        </p>
        <p>
            The vision of the Middle Tennessee Council is to foster the character development,
            citizenship training and physical fitness of young people through an emphasis on
            outdoor program experiences to prepare them to be responsible, contributing members
            of society over their lifetime by instilling values based upon those found in the
            Scout Oath and Law. Click here to learn more about Scouting!"
            <a class="btn btn-default" href="http://mtcbsa.org/Volunteers/aboutus/contactus.html">
                Have fun and VOLUNTEER!
            </a>
        </p>
    </div>
</div>



<div class="mapPlacement">
    <style>
        #map {
            width: 100%;
            margin-top: 10%;
            height: 400px;
            align-content: center;
            background-color: grey;
        }
    </style>
</div>
<script>
    function initMap() {
        var BoyScoutsOfAmerica = { lat: 36.138, lng: -86.810 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: BoyScoutsOfAmerica,
            marker1: NashvilleRescueMission
        });
        var marker2 = new google.maps.Marker({
            position: BoyScoutsOfAmerica,
            OrgName: BoyScoutsOfAmerica,
            map: map

        });
        var NashvilleRescueMission = { lat: 36.168, lng: -86.805 };
        var marker1 = new google.maps.Marker({
            position: NashvilleRescueMission,
            OrgName: NashvilleRescueMission,
            map: map
        });
        var OasisCenter = { lat: 36.159, lng: -86.801 };
        var marker3 = new google.maps.Marker({
            position: OasisCenter,
            OrgName: OasisCenter,
            map: map
        });
        var LongHunterStatePark = { lat: 36.094, lng: -86.559 };
        var marker4 = new google.maps.Marker({
            position: LongHunterStatePark,
            OrgName: LongHunterStatePark,
            map: map
        });
        var RadnorStatePark = { lat: 36.063, lng: -86.810 };
        var marker5 = new google.maps.Marker({
            position: RadnorStatePark,
            OrgName: RadnorStatePark,
            map: map
        });
        var MonroeCarellChildrenHospital = { lat: 36.139, lng: -86.838 };
        var marker6 = new google.maps.Marker({
            position: MonroeCarellChildrenHospital,
            OrgName: MonroeCarellChildrenHospital,
            map: map
        });
        var TennesseeSchoolForTheBlind = { lat: 36.167, lng: -86.656 };
        var marker7 = new google.maps.Marker({
            position: TennesseeSchoolForTheBlind,
            OrgName: TennesseeSchoolForTheBlind,
            map: map
        });
        var PercyWarnerPark = { lat: 36.068, lng: -86.886 };
        var marker8 = new google.maps.Marker({
            position: PercyWarnerPark,
            OrgName: PercyWarnerPark,
            map: map
        });
        var NashvilleHumaneAssociation = { lat: 36.147, lng: -86.862 };
        var marker9 = new google.maps.Marker({
            position: NashvilleHumaneAssociation,
            OrgName: NashvilleHumaneAssociation,
            map: map
        });
        var TheFranklinTheatre = { lat: 35.924, lng: -86.873 };
        var marker10 = new google.maps.Marker({
            position: TheFranklinTheatre,
            OrgName: TheFranklinTheatre,
            map: map
        });
        marker1.addListener('click', function () {
            alert('NashvilleRescueMission');
        });
        marker2.addListener('click', function () {
            alert('BoyScoutsOfAmerica');
        });
        marker3.addListener('click', function () {
            alert('OasisCenter');
            //infowindow find under googlemapapi infowindow; call goes here to open the window;alert("listener works");
        });
        marker4.addListener('click', function () {
            alert('LongHunterStatePark');
        });
        marker5.addListener('click', function () {
            alert('RadnorStatePark');
        });
        marker6.addListener('click', function () {
            alert('MonroeCarellChildrenHospital');
        });
        marker7.addListener('click', function () {
            alert(' TennesseeSchoolForTheBlind');
        });
        marker8.addListener('click', function () {
            alert('PercyWarnerPark');
        });
        marker9.addListener('click', function () {
            alert('NashvilleHumaneAssociation');
        });
        marker10.addListener('click', function () {
            alert('TheFranklinTheatre');
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyYRivEIIvOGn2A8QyOlrdUE9js8PGOwY&callback=initMap">
</script>

