@{
    ViewData["Title"] = "My Activities";
}
<h2>@ViewData["Title"].</h2>

<div ng-controller="EditController">
    <div  ng-repeat="editActivity">
        <article>
            <p>
                lalalalal
            </p>
            <p>

            </p>
        </article>
</div>
